@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@font-face {
  font-family: 'coolveticaregular';
  src: url('./coolvetica/coolvetica.regular-webfont.woff') format('woff2'),
       url('./coolvetica/coolvetica.regular-webfont.woff2') format('woff');
  font-weight: bold;
  font-style: normal;

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  color: #fff ;
  background-color: #1d1d1d;
}

.text-zone{
  padding: 2rem 5rem;
}
.span:nth-child(9){
  color: #EE1D52;
  animation: akash .9s linear !important;
  text-shadow: -6px 0px #08fdd8;
  transform: scale(1.12);
  padding-right: 3px;

} 
.main{
  padding-left: 5rem;
  padding-top: 1rem;
}
.span:nth-child(9):hover{
  color: #EE1D52;
}
.about-description{
  padding-left:  5rem;
  padding-top: 2rem;
  width: 50%;
}
#holder{
  padding-left: 2rem;
}
@keyframes akash {
  from {
      transform: rotate(-720deg);

  }
  to {
      transform: rotate(0deg);
  }
}
.about{
  display: flex;
  align-items: center;
}

li, .span{
  opacity: 0;
  transition: all .5s linear;
}
.span.show{
  opacity: 1;
  white-space: pre;
  float: left;
  animation: 1s rubberBand;
}

li.break::after{
  content: "\a";
  white-space: pre;
}
.hi span:hover{
  animation:1s rubberBand!important;
  
}
header{
  position: relative;
}
h3{
  color: #ff0b56;
  font-size: 1.7rem;
  font-family: 'coolveticaregular';
}
@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.2, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.2, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
} 

.main::before{
  content: "<h1>";
  font-size: 17px;
  position: absolute;
  margin-top: -22px;
  font-family: 'La Belle Aurore',cursive;
  color: #515152;
  z-index: 1;
  margin-left: -14px;
}
.main::after{
  content: "</h1>";
  font-size: 17px;
  position: absolute;
  font-family: 'La Belle Aurore',cursive;
  color: #515152;
  z-index: 1;
  margin-left: -14px;

}



.letter:hover{
  animation: mover 1s infinite  alternate; 
   color:  #08fdd8;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
h1{
  font-size: 6rem;
  line-height: 5.4rem;
}


.typewriter{
  font-family:  sans-serif;
}
.typewriter::before{
  content: "<p>";
  font-size: 17px;
  font-family: 'La Belle Aurore',cursive;
  color: #515152;
  z-index: 1;
  margin-left: -14px;

}
.typewriter::after{
  content: "</p>";
  font-size: 17px;
  margin-left: -14px;

  font-family: 'La Belle Aurore',cursive;
  color: #515152;
  z-index: 1;
}
.Logo{
  margin-left: 25px;
}
.Logo h1{
  color: #EE1D52;
  text-shadow: -3px 2px #08fdd8;
  padding-right: 6px;
  font-size: 7rem;
  cursor: pointer;
  animation: logo 4s linear;
  z-index: 1000;

}


@keyframes logo {

  0%   { transform: translateX(150px); }
        25%  { transform: translateX(-30px); }
        50%  { transform: translateX(20px); }
        75%  { transform: translateX(-30px); }
        100% { transform: translateX(0); }
}

div.menu{
  width: 35px;
  height: 5px;
  background-color: #EE1D52;
  border-bottom: 2px solid hsl(171, 98%, 51%);

  margin: 6px 0;
}

.menu-bars{
  cursor: pointer;
  animation: logo 4s linear;
  z-index: 1000;


}

@keyframes bar {
  from {
      transform: rotate(0deg);
      opacity: 0.5;
  }
  to {
      transform: rotate(180deg);
      opacity: 1;

  }
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.Logo1 {
  transform: skew(-0deg);

  cursor: pointer;
  
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  padding-right: 10px;

}
.myMenu{
  background-color: rgba(0,0,0,.3);
  padding: 12px 12px;
  border-radius: 2px;
}
.Logo1 h1{
  color: #EE1D52;
  text-shadow: -3px 2px #08fdd8;
  font-size: 5rem;
  cursor: pointer;
  z-index: 1000;

}


@keyframes rotate {
  from{
    transform: rotate(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}
.wrapper::before{
  content: "<html>";
  font-size: 17px;
  position: absolute;
  font-family: 'La Belle Aurore',cursive;
  color: #515152;
  z-index: 1;
  left: 2%;
  top: 2%;
}
.body::before{
  content: "<body>";
  font-size: 17px;
  position: absolute;
  top: 6%;
  left: 3%;
  font-family: 'La Belle Aurore',cursive;
  color: #515152;
  z-index: 1;
}
.bar{
  width: 27px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  border-radius: 1px;

}
button{
  padding: 0px 30px;
  color: white;
  letter-spacing: 4px;
 outline-style: none;
 color: #08fdd8;


  
}
.button-area{
  z-index: 1;
}


button {
  padding: 16px 42px;
  border: 1px solid #08fdd8;
  background: linear-gradient( to left, #1d1d1d 50%, #08fdd8 50% );
  background-size: 200% 100%;
  background-position: right bottom;
  cursor: pointer;
  position: relative;
  transition: all ease .5s;
  cursor: pointer;
  &:hover {
      background-position: left bottom;
      color: black;
  }
}
button span.contact::after, button span.resume::after{
  content: "";
    width: 4px;
    height: 4px;
    bottom: -1px;
    right: -1px;
    background: #08fdd8;
    position: absolute;
    z-index: 5;
}
@keyframes button {

   0%   { transform: translateX(-170px); }
         25%  { transform: translateX(30px); }
         50%  { transform: translateX(-30px); }
         75%  { transform: translateX(30px); }
         100% { transform: translateX(0); }
 }

.intro {
  color: #8d8d8d;
  font-size: 1rem;
  letter-spacing: 0.3rem;
  font-family: 'Open Sans', sans-serif;

  
}


.myelem{
  z-index: 1;
}

 h1{
  letter-spacing: -0.025rem;
  font-family: "coolveticaregular";

}

.menu-items-hide{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1000;
  display: none;
}
.menu-items{
  position: absolute;
  top: 0;
  left: 0;  
  width: 100%;
  height: 100%;
  background-color: #1d1d1d;
  z-index: 1000;
  display: block;
  animation: menubar .1s linear; 
}

 .image-wrapper{
   width: 30%;
   opacity: 0.8;
 }
 .image-wrapper img{
   max-width: 100%;
 }

 .A{
   display: inline-block;
 }
.ak h1 span:nth-child(3){
  color: red!important;
}
.ak span:nth-child(6){
  color: #EE1D52;
  text-shadow: -3px 2px #08fdd8;
 transform: scale(1.3);

} 



.myName{
  position: relative;
}

.aCover{
  position: absolute;
  top: 50%;
  left: 13%;
}
.aCover h1{
  color: red;
  color: #EE1D52;
  animation: akash .5s linear;
  text-shadow: -3px 2px #08fdd8;
 transform: scale(1.3);
 padding-left: 15px;
 padding-right: 7px;
}
.aaa{
  color: red;
  display: inline;
}

h2{
  font-size: 4rem;
  color: #08fdd8;
  font-family: "coolveticaregular";

}
.about p{
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6rem;
}
.hi{
  color: yellow;
}

.circle{
  position: absolute;
  width: 26rem;
  height: 26rem;
  top:0;left:0;bottom:0;right:0;
  margin: auto;
  border-radius: 50%;
  animation: giro 24s infinite linear;
}
.circle > span:first-child {
  transform: translatex(13rem);
}
.circle>span{
  width: 0;
  height: 26rem;
  position: absolute;
  top: 0rem;
   left: 0;
  font-size: 6rem;
  color: #fff;
  text-align: left;
  text-shadow: 0 -10px 15px #000;
  line-height: 0;
  transform: rotate(24deg);
  vertical-align: top;
  transform-style: preserve-3d;
}

@keyframes giro {
  100% {transform: rotate(1turn)}
}


.myDiv{
  position: absolute;
  width: 26rem;
  height: 26rem;
  top:0;left:0;bottom:0;right:0;
  margin: auto;
  border-radius: 50%;
  animation: giro 24s infinite linear;
}
div.myDiv > span:first-child{
  transform: translateX(13rem);
}
div.myDiv span {
  width: 0;
  height: 26rem;
  position: absolute;
  top: 0rem;
   left:0;
  font-size: 6rem;
  color: #fff;
  text-align: left;
  text-shadow: 0 -10px 15px #000;
  line-height: 0;
  transform: rotate(24deg);
  vertical-align: top;
  transform-style: preserve-3d;
}

@keyframes giro {
  100% {transform: rotate(1turn)}
}
text{
  fill:#08fdd8
}
.myskills{
  color: #08fdd8;
  font-size: 15px;
  font-family: "coolveticaregular";

}
.keyword{
  color: #08fdd8;
}
 .about{
  display: flex;
}


 .about-description p{
   font-size: 1rem;

 }





 @media screen and (max-width: 1024px) {
  .about {
   flex-direction: column;
  }
  .about-description{
    width: 100%;
    padding-right:  3rem;

  }
  #holder{
    margin-top: 0!important;
    justify-content: center;
    padding: 0!important;
  }
  .text-zone{
    padding: 2rem 3rem;
  }
  .main{
    padding-left: 3rem;

  }
 
  #holder{
    margin: auto;
  }
  .about-description{
    padding-left: 3rem;
    padding-left: 3rem;
  }
  h1{
    font-size: 5.5rem;
    line-height: 4.8rem;
  }

  
}

.myelem{
  padding: 0 5rem;

}
.button-resume{
  padding: 3px 10px;
  letter-spacing: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.main{
  width: fit-content;
}

h1{
  display: inline;
  font-weight: bolder;
}
@media screen and (max-width: 800px) {
  h1{
    font-size: 4rem;
    line-height: 3.4rem;
  }
  h2{
    font-size: 3.5rem;
  }
  .intro{
    font-size: .9rem;
  }
  button{
    padding: 14px 30px;
  }
   
}
@media screen and (max-width: 600px) {
  h1{
    font-size: 3rem;
    line-height: 2.5rem;
  }
  .span:nth-child(9){
    text-shadow: -4px 0px #08fdd8;
  
  }

 
}

.scroll-wrapper{
  display: flex;
  justify-content: space-between;
  margin-top: -40px;
  padding: 0 10px;
}
.scroll, .scroll2{
  animation: 1s upDown linear alternate infinite;

}
@keyframes upDown{
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-15px);
  }
  100%{
    transform: translateY(0);
  }
}
.scroll{
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: .9rem;
  font-family: sans-serif;
}
.scroll2{
  writing-mode: vertical-rl;
  text-orientation: mixed;

  font-size: .9rem;
  font-family: sans-serif;
}
.about{
  overflow: hidden;
}

  h2::before{
  content: "<h2>";
  font-size: 17px;
  font-family: 'La Belle Aurore',cursive;
  color: #515152;
  z-index: 1;
  position: absolute;
  margin-top: -1rem;
  font-weight: 100;
 
}
  .myIntro::before{
  content: "<p>";
  font-size: 17px;
  font-family: 'La Belle Aurore',cursive;
  color: #515152;
  z-index: 1;
  position: absolute;
  margin-top: -25px;
 
}
  h2::after{
  content: "</h2>";
  font-size: 17px;
  font-family: 'La Belle Aurore',cursive;
  color: #515152;
  z-index: 1;
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  font-weight: 100;


}

  .myIntroLast::after{
  content: "</p>";
  font-size: 17px;
  font-family: 'La Belle Aurore',cursive;
  color: #515152;
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: 2%;


}

.about-section{
  padding: 3rem 0;
  position: relative;
}

@media screen and (max-width: 400px) {
  h1{
    font-size: 3rem;
    line-height: 2.4rem;
  }

  .main{
    padding: 3rem 1.5rem;
  }
  .text-zone{
    padding: 2rem 1.5rem;
  }
  button{
     padding: 8px 12px;

  }
  .button-area{
    padding-top: 20px;
  }
  .intro, .about-description p{
    font-size: .9rem;
    letter-spacing: 0;
  }
  .scroll-wrapper{
    padding: 0 1px;
  }
  .about-description{
    padding: 2rem 1.5rem;
  }
  h2{
    font-size: 3rem;
  }


  #holder{
    margin-top: -6rem!important;
  }
  .scroll-wrapper{
    margin-top: 6px;
  }
  .about p{
    line-height: 1.6rem;
    font-size: .9rem;
  }
 
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  min-width: 320px;
  padding-bottom: 100px;

}

.portfolio h2 {
  flex-basis: 100%;
  text-align: center;
  margin: 50px auto 30px;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
  color: #111;
}
.card {
  width: 20%;
  overflow: hidden;
  position: relative;

}
.card .content {
  z-index: 2;
  width: 100%;
  position: absolute;
  bottom: -150px;
  transition: all 0.4s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  box-sizing: border-box;
  min-height: 80px;
  background: #08fdd8;
  color: black;
  font-family: serif;
}
.card .image {
  z-index: 1;
  height: 100%;
}
.card img {
  height: 100%;
  width: 100%;
  transition: all 0.5s ease;
  transform: scale(1.2);
  opacity: .8;

}

.card:hover .content {
  bottom: 0px;
  color: black;
}

.card:hover .image img {
  transform: scale(1);
  opacity: 1;
}


@media screen and (max-width: 768px) {
  .card {
  width: 50%;
  }

}

@media screen and (max-width: 480px) {
  .card {
  width: 50%;
  }
}